# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv("cars1.csv")
cars2 = pd.read_csv("cars2.csv")

In [3]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [4]:
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [5]:
cars1.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12', 'Unnamed: 13'],inplace=True)

### Step 5. What is the number of observations in each dataset?

In [6]:
first = cars1.shape[0]
second = cars2.shape[0]

print(f"observation in cars1: {first} and cars2: {second}")

observation in cars1: 198 and cars2: 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [7]:
#vertical appending 
cars = pd.concat([cars1,cars2],axis=0)
cars.shape[0]

398

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [12]:
import numpy as np

rand = np.random.randint(15000,73000,398,dtype=np.int64)

### Step 8. Add the column owners to cars

In [13]:
cars['owners'] = rand

In [14]:
cars.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,67911
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,71416
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,60842
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,26187
4,17.0,8,302,140,3449,10.5,70,1,ford torino,72661
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,64967
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala,24512
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii,16979
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina,59526
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl,21586