# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [68]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [69]:
wine = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data")

wine.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [70]:
wine = wine.drop(wine.columns[[0,3,6,8,11,12,13]], axis = 1)

wine.head()

   14.23  1.71  15.6  127  3.06  2.29  5.64
0  13.20  1.78  11.2  100  2.76  1.28  4.38
1  13.16  2.36  18.6  101  3.24  2.81  5.68
2  14.37  1.95  16.8  113  3.49  2.18  7.80
3  13.24  2.59  21.0  118  2.69  1.82  4.32
4  14.20  1.76  15.2  112  3.39  1.97  6.75

In [71]:
wine

     14.23  1.71  15.6  127  3.06  2.29   5.64
0    13.20  1.78  11.2  100  2.76  1.28   4.38
1    13.16  2.36  18.6  101  3.24  2.81   5.68
2    14.37  1.95  16.8  113  3.49  2.18   7.80
3    13.24  2.59  21.0  118  2.69  1.82   4.32
4    14.20  1.76  15.2  112  3.39  1.97   6.75
..     ...   ...   ...  ...   ...   ...    ...
172  13.71  5.65  20.5   95  0.61  1.06   7.70
173  13.40  3.91  23.0  102  0.75  1.41   7.30
174  13.27  4.28  20.0  120  0.69  1.35  10.20
175  13.17  2.59  20.0  120  0.68  1.46   9.30
176  14.13  4.10  24.5   96  0.76  1.35   9.20

[177 rows x 7 columns]

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [72]:
wine.columns = ['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']

In [73]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,4.38
1,13.16,2.36,18.6,101,3.24,2.81,5.68
2,14.37,1.95,16.8,113,3.49,2.18,7.80
3,13.24,2.59,21.0,118,2.69,1.82,4.32
4,14.20,1.76,15.2,112,3.39,1.97,6.75

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [74]:
wine[:3]=wine[:3].ffill(axis=0,inplace=True)

C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\2665979427.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  wine[:3]=wine[:3].ffill(axis=0,inplace=True)
C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\2665979427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine[:3]=wine[:3].ffill(axis=0,inplace=True)

In [75]:
wine[:3]

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [76]:
wine[3:5] = wine[3:5].ffill(axis=0,inplace=True)

C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\2341879907.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  wine[3:5] = wine[3:5].ffill(axis=0,inplace=True)
C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\2341879907.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine[3:5] = wine[3:5].ffill(axis=0,inplace=True)

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [77]:
wine.alcohol.fillna(value=10,inplace=True)
wine.magnesium.fillna(value=100,inplace=True)

C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\3124960252.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  wine.alcohol.fillna(value=10,inplace=True)
C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\3124960252.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  wine.magnesium.fillna(value=100,inplace=True)

In [78]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.0,NaN,NaN,100.0,NaN,NaN,NaN
1,10.0,NaN,NaN,100.0,NaN,NaN,NaN
2,10.0,NaN,NaN,100.0,NaN,NaN,NaN
3,10.0,NaN,NaN,100.0,NaN,NaN,NaN
4,10.0,NaN,NaN,100.0,NaN,NaN,NaN

### Step 9. Count the number of missing values

In [79]:
wine.isna().astype(int).value_counts()

alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  proanthocyanins  hue
0        0           0                  0          0           0                0      172
         1           1                  0          1           1                1        5
Name: count, dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [80]:
np.random.randint(1,11)
lst = [np.random.randint(1,11) for i in range(10)]
lst

[9, 1, 9, 6, 6, 3, 4, 6, 5, 9]

In [81]:
num = np.array(lst)
num

array([9, 1, 9, 6, 6, 3, 4, 6, 5, 9])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [84]:
for i in num:
    wine.iloc[i,:]=wine.iloc[i,:].ffill(axis=0,inplace=True)

wine.head(10)

C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\1534421720.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.iloc[i,:]=wine.iloc[i,:].ffill(axis=0,inplace=True)
C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\1534421720.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.iloc[i,:]=wine.iloc[i,:].ffill(axis=0,inplace=True)
C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\1534421720.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.iloc[i,:]=wine.iloc[i,:].ffill(axis=0,inplace=True)
C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\1534421720.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.iloc[i,:]=wine.iloc[i,:].ffill(axis=0,inplace=True)
C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\1534421720.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.iloc[i,:]=wine.iloc[i,:].ffill(axis=0,inplace=True)
C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\1534421720.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.iloc[i,:]=wine.iloc[i,:].ffill(axis=0,inplace=True)
C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\1534421720.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.iloc[i,:]=wine.iloc[i,:].ffill(axis=0,inplace=True)
C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\1534421720.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.iloc[i,:]=wine.iloc[i,:].ffill(axis=0,inplace=True)
C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\1534421720.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.iloc[i,:]=wine.iloc[i,:].ffill(axis=0,inplace=True)
C:\Users\Danish\AppData\Local\Temp\ipykernel_5868\1534421720.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.iloc[i,:]=wine.iloc[i,:].ffill(axis=0,inplace=True)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,NaN,NaN,100.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10.00,NaN,NaN,100.0,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,14.83,1.64,14.0,97.0,2.98,1.98,5.20
8,13.86,1.35,16.0,98.0,3.15,1.85,7.22
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 12.  How many missing values do we have?

In [90]:
wine.isnull().sum()

alcohol              0
malic_acid           2
alcalinity_of_ash    2
magnesium            0
flavanoids           2
proanthocyanins      2
hue                  2
dtype: int64

### Step 13. Delete the rows that contain missing values

In [89]:
wine.dropna(axis=0,how="all",inplace=True)

### Step 14. Print only the non-null values in alcohol

In [95]:
index = wine.alcohol.notnull()

In [97]:
wine[index].alcohol

0      10.00
2      10.00
7      14.83
8      13.86
10     14.12
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 171, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [99]:
wine.reset_index(inplace=True)

### BONUS: Create your own question and answer it.